.hp-intro {
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex-wrap:wrap;

  .number-list {
    margin:50px 0 60px;
  }

  .bg-shape {
    width: 1300px;
    position: absolute;
    z-index: -1;
    top: 80px;
    left: -350px;
  }

  &__credentials {
    max-width:450px;
    display:flex;
    flex:1;
    justify-content:flex-end;
    align-items:center;
    justify-content:space-between;
  }

  &__credential-logo {
    max-height:98px;
    max-width:150px;
  }
}
/*------------------------------------------------*/





// 1400px
@include breakpoint(xxxl) {
  .hp-intro {

    &__credentials {
      max-width:60%;
    }

    &__credential-logo {
      max-height:100px;
      max-width:140px;
    }

  }
}
/*------------------------------------------------*/





// 1200px
@include breakpoint(xxl) {
  .hp-intro {

    &__credentials {
      max-width:52%;
    }

    &__credential-logo {
      max-height:80px;
      max-width:100px;
    }

  }
}
/*------------------------------------------------*/





// 960px
@include breakpoint(l) {
  .hp-intro {
    display:block;

    .font--34px {
      @include font-size(28px);
      line-height: 34px;
    }

    .number-list {
      margin-bottom:20px;
    }

    .video-btn {
      display:block;
      margin:0 auto 20px;
    }

    &__credentials {
      max-width:400px;
      margin:0 auto;
    }

    &__credential-logo {
      max-height:90px;
      max-width:120px;
    }

    &__credential {
      margin-left: 0;
    }
  }
}
/*------------------------------------------------*/





// 750px
@include breakpoint(m) {
  .hp-intro {

    &__credentials {

    }

  }
}
/*------------------------------------------------*/





// 600px
@include breakpoint(s) {
  .hp-intro {

    .header {
      margin: 0 auto;
      text-align: center;
    }

    &__credentials {
      width: 100%;
      flex: auto;
      padding: 0 40px;
    }

  }
}
/*------------------------------------------------*/





// 400px
@include breakpoint(xxs) {
  .hp-intro {
    &__credential-logo {
      max-height: 65px;
      max-width: 70px;
    }

    &__credentials {
      padding: 0 20px;
    }
  }
}
